body{
	background-image: url(file:///C:/Users/pc/Downloads/prayer-flag-suspension-bridge_4460x4460.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;

}

h1 {
	color: #FFE3AA;
	display: flex;
    line-height: 200px;
    height: 150px;
    justify-content: center;
    text-align: center;
    margin-top:17%;

   
}

 .btn-info{
	background-color: rgb(170, 132, 57);
	border-radius: 200px;
}
