html, body{
margin: 0px;
padding: 0px;
background-color: #273444;
position: relative;
}

nav{
	margin: 0 auto;

}

a{
	color: #FFE3AA;
}

.navbar{
	padding-top: 15px;
	font-size: 1.1em;
	height: 15px;
}





#navbarNavAltMarkup{
	color: white;
}


.navbar-toggler{
	color: #FFE3AA;
}

.navbar-expand-lg{
	text-align: center;
	color: black;
}

.navbar-light{
	height: 55px;
}

.icon{
	width: 35px;
}

.nav-item:hover{
color: white;
}

.navbar-toggler-icon{

}

.jumbotron{
	background-image: url('campfire_4460x4460 (1).jpg');
	background-size: cover;
	height: 950px;
	margin: 0;
	padding: 0;
}

.covertext{
	text-align: center;
	padding-top: 350px;
}


.btn{
	margin: 20px;
	background-color: #FFE3AA;
	border-radius: 20px;
	color: black;
	border: none;
	padding: 8px 30px;


}

.btn:hover{
	background-color: white;
	color: black;
}


.pavang{
	text-align: center;
	
}

#anglis{
	height: 470px;
	background-image: url('texture-of-old-tree.jpg');
	margin-top: 0px;
	
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#veikla{
	padding-top: 15px;
	height: 480px;
	background-image: url('mountain-road-to-nowhere.jpg');
  	background-position: bottom;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.color{
	color: #FFE3AA;
}

.color1{
	color: #FFE3AA;
}

.color2{
	color:#363636;
}

.padding{
	padding-top: 20px;
}

.textleft{
	text-align: left;
}

.color{
	padding-top: 40px;
}

.centert{
	text-align: center;
	padding: 18px 0;
}

.card{
	background-color: #f2f2f2;
	border: none;
	
}

.cardcover{
	width: 100%;
}

.card-body{
	width: 100%;
}

.text-right{
	float: left;
}



#footer{

	width: 100%;
	clear: all;
}

footer{
	background-color: #363636;
	height: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	margin-top: 10px;
	padding: 0
}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical ;
  background-color: #FFE3AA;
}

label{
	color: #FFE3AA;
}

input[type=submit] {
  background-color: #363636;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: black;
}

#contact h1{
	color: #FFE3AA;
	text-align: center;
	margin-top: 17px;
}


.submit{
	width: 200px;
}

.submitContainer{
	width: 100%;
	text-align: center;

}

.submit{

}

