body, 
html{
 width: 100%;
  height: 100%;
}
header.start{
	background-image: url(prayer-flag-suspension-bridge_4460x4460.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	text-align: center;
	display: grid;
	align-items: center;
	text-transform: uppercase;
}


.btn{
border-radius: 20px;
background-color: #FFE3AA;
color: #553A00;
font-size: 1em;
text-transform: uppercase;
font-family: Times New Romans;
}

h1 {
	color: #FFE3AA;
	padding: 20px;
}

